*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none !important;
}

li {
  list-style-type: circle;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-X-center {
  display: flex;
  justify-content: center;
}

.flex-Y-center {
  display: flex;
  align-items: center;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-beetwen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-button {
  background-color: #e8aa31;
  border: none;
}

.wd-100 {
  width: 100%;
}

.wd-90 {
  width: 90%;
}

.wd-80 {
  width: 80%;
}

.wd-70 {
  width: 70%;
}

.wd-60 {
  width: 60%;
}

.wd-50 {
  width: 50%;
}

.wd-40 {
  width: 40%;
}

.wd-30 {
  width: 30%;
}

.wd-20 {
  width: 20%;
}

.wd-10 {
  width: 10%;
}

.hd-100 {
  width: 100%;
}

.hd-90 {
  width: 90%;
}

.hd-80 {
  width: 80%;
}

.hd-70 {
  width: 70%;
}

.hd-60 {
  width: 60%;
}

.hd-50 {
  width: 50%;
}

.hd-40 {
  width: 40%;
}

.hd-30 {
  width: 30%;
}

.hd-20 {
  width: 20%;
}

.hd-10 {
  width: 10%;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

body {
  padding: 0 80px;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0 30px;
  }
}
.section_first {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #333;
}
.section_first .section_first__top {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
.section_first .section_first__bottom {
  width: auto;
  padding: 30px 0px;
  display: flex;
}
.section_first img {
  padding: 10px;
  margin: 2px;
  border: 2px solid black;
}

header {
  width: 100%;
  padding: 30px 0px;
  height: -moz-max-content;
  height: max-content;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header__top {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .header__bottom {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
nav .nav__top {
  display: flex;
  align-items: center;
}
nav .nav__list {
  display: flex;
  align-items: center;
  width: 40%;
}
nav .nav__list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav .nav__bottom {
  display: flex;
  align-items: center;
}
nav .nav__bottom p {
  margin-left: 5px;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),10%,10%);
  --themeTrans: 0.3s;
  font-size: calc(16px + 8 * (100vw - 320px) / 960);
}

.loader {
  display: block;
}

main {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl {
  width: 5em;
  height: 10em;
}

.pl__ring,
.pl__worm1,
.pl__worm2,
.pl__worm3 {
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.pl__ring {
  stroke: hsla(var(--hue), 10%, 10%, 0.1);
  transition: stroke var(--themeTrans);
}

.pl__worm1 {
  animation-name: worm1;
}

.pl__worm2 {
  animation-name: worm2;
  transform-origin: 32px 88px;
}

.pl__worm3 {
  animation-name: worm3;
  transform-origin: 144px 88px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),10%,10%);
    --fg: hsl(var(--hue),10%,90%);
  }
  .pl__ring {
    stroke: hsla(var(--hue), 10%, 90%, 0.1);
  }
}
/* Animations */
@keyframes worm1 {
  from {
    animation-timing-function: ease-out;
    stroke-dashoffset: 43.98;
  }
  12.5% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -131.95;
  }
  25% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 0;
  }
  37.5%, 50% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -175.93;
  }
  62.5% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
  }
  75% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -131.95;
  }
  87.5%, to {
    stroke-dashoffset: 43.98;
  }
}
@keyframes worm2 {
  from, 35.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 40 0 44;
    visibility: hidden;
    transform: translate(0, 0) rotate(0);
  }
  37.5% {
    animation-timing-function: ease-out;
    stroke-dasharray: 0 40 44 0;
    visibility: visible;
    transform: translate(0, 0) rotate(0);
  }
  47.5% {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -80px) rotate(360deg);
  }
  50% {
    animation-timing-function: linear;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(360deg);
  }
  52.5%, to {
    stroke-dasharray: 0 42 0 42;
    visibility: hidden;
    transform: translate(0, 12px) rotate(360deg);
  }
}
@keyframes worm3 {
  from {
    animation-timing-function: linear;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(0);
  }
  2.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 42 0 42;
    visibility: hidden;
    transform: translate(0, 12px) rotate(0);
  }
  85.5% {
    animation-timing-function: linear;
    stroke-dasharray: 0 40 0 44;
    visibility: hidden;
    transform: translate(0, 0) rotate(0);
  }
  87.5% {
    animation-timing-function: ease-out;
    stroke-dasharray: 0 40 44 0;
    visibility: visible;
    transform: translate(0, 0) rotate(0);
  }
  97.5% {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -80px) rotate(-360deg);
  }
  to {
    stroke-dasharray: 0 4 40 40;
    visibility: visible;
    transform: translate(0, -36px) rotate(-360deg);
  }
}/*# sourceMappingURL=main.css.map */