header
  .header__carusell
    div
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
    button.head-carousel__button.head-carousel__button__left &lt;
    button.head-carousel__button.head-carousel__button__right &gt;

  .header__middle
    .carousel
      .carousel__container
        - var brands = ['Hansa', 'honor', 'aple', 'nokie', 'samsung', 'huawe', 'honor', 'vivo', 'oppo', 'lG', 'tefal', 'Hisense', 'motorola', 'hansa', 'Hisense']
        each brand in brands
          .carousel__item= brand
      button.carousel__button.carousel__button--left &lt;
      button.carousel__button.carousel__button--right &gt;

    h3 Популярные категории 

    .carousel
      .carousel__container
        each brand in brands
          .carousel__item= brand
      button.carousel__button.carousel__button--left &lt;
      button.carousel__button.carousel__button--right &gt;

  .header__bottom
    .header__bottom__card
