section.app-download-section
  .app-visuals
    img.phone-left(src="https://texnomart.uz/_nuxt/img/phone-min.d3c6b0c.png", alt="App Screenshot")
  
  .app-content
    h2 Скачивайте приложение
    p Совершайте покупки в мобильном приложении, не выходя из дома!
    .qr-code
      img(src="https://texnomart.uz/_nuxt/img/app-qr-code-2x.6c90f4e.png", alt="QR Code")
      p 
        | Наведите камеру и скачайте бесплатное приложение
        span Texnomart  
    .app-buttons 
      img(src="https://texnomart.uz/_nuxt/img/googleplay-ru.638c81b.svg", alt="Google Play")
      img(src="https://texnomart.uz/_nuxt/img/appstore-ru.9ebba86.svg", alt="App Store") 
