footer.footer
  .container
    .footer-top
      .contact-info
        p.vapros Возник вопрос? Звоните
        span.phone-number +998 71 209 99 44
        .social-links
          a(href="#", class="social-icon")
            i.fa-brands.fa-telegram
          a(href="#", class="social-icon")
            i.fa-brands.fa-instagram
          a(href="#", class="social-icon")
            i.fa-brands.fa-facebook
          a(href="#", class="social-icon")
            i.fa-brands.fa-youtube
        .app_market_buttons
          img(src="https://texnomart.uz/_nuxt/img/playmarket-logo-ru.8f7eb5c.svg", alt="Play Market")
          img(src="https://texnomart.uz/_nuxt/img/appstore-logo-ru.34b758d.svg", alt="App Store")
      .footer-nav
        .column.company
          h4 Компания
          a(href="#") Юридическим лицам
          a(href="#") О Техномарт
          a(href="#") Новости и блоги
          a(href="#") Проверка IMEI
        .column.information
          h4 Информация
          a(href="#") Бесплатная доставка
          a(href="#") Бонусная система
          a(href="#") Работа в Техномарт
          a(href="#") Личный кабинет
          a(href="#") Контактные номера
        .column.customer-service
          h4 Помощь покупателю
          a(href="#") Покупка в рассрочку
          a(href="#") Возврат товара
          a(href="#") Гарантия на товары
          a(href="#") Часто задаваемые вопросы
          

    .footer-bottom
      .store-address
        p Адреса магазинов Тошкент

    .footer-disclaimer
      p 2016-2023 ©texnomart.uz. Все права защищены. Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
      p powered by A
