header
  .header__carusell
    div
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
    //- button.head-carousel__button.head-carousel__button__left &lt;
    //- button.head-carousel__button.head-carousel__button__right &gt;

  .header__middle
    .carousel
      .carousel__container
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="aaaa")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        
      button.carousel__button.carousel__button--left &lt; 
      button.carousel__button.carousel__button--right &gt; 

    h3 Популярные категории
    .carousel
      .carousel__container
        .carousel__item_carousel__item_popular 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-category/5/365fda66-9e5f-44ac-88ea-f25fc90dc9d1.svg", alt="")
          p salom
        .carousel__item_carousel__item_popular 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-category/5/365fda66-9e5f-44ac-88ea-f25fc90dc9d1.svg", alt="")
          p salom
        .carousel__item_carousel__item_popular 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-category/5/365fda66-9e5f-44ac-88ea-f25fc90dc9d1.svg", alt="")
          p salom
        .carousel__item_carousel__item_popular 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-category/5/365fda66-9e5f-44ac-88ea-f25fc90dc9d1.svg", alt="")
          p salom
        .carousel__item_carousel__item_popular 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-category/5/365fda66-9e5f-44ac-88ea-f25fc90dc9d1.svg", alt="")
          p salom
        .carousel__item_carousel__item_popular 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-category/5/365fda66-9e5f-44ac-88ea-f25fc90dc9d1.svg", alt="")
          p salom
        
       
        
      button.carousel__button.carousel__button--left &lt;
      button.carousel__button.carousel__button--right &gt; 

  .header__bottom
    .header__bottom__card
