header
  .header__carusell
    div
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
      img.head__img(src="https://mini-io-api.texnomart.uz/newcontent/slider/58/wJMjN1WWKlQmPEwJ4MTblKVrGrPBOrSB9jAHQJJC.webp", alt="")
    button.head-carousel__button.head-carousel__button__left &lt;
    button.head-carousel__button.head-carousel__button__right &gt;

  .header__middle
    .carousel
      .carousel__container
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        .carousel__item 
          img(src="https://mini-io-api.texnomart.uz/catalog/special-brands/71/db9c48fb-a175-4ff9-ab06-bd953ddc82cd-medium.webp", alt="")
        
      button.carousel__button.carousel__button--left &lt;
      button.carousel__button.carousel__button--right &gt;

    h3 Популярные категории
    .carousel
      .carousel__container
        .carousel__item Hansa
        .carousel__item honor
        .carousel__item aple
        .carousel__item nokie
        .carousel__item samsung
        .carousel__item huawe
        .carousel__item honor
        .carousel__item vivo
        .carousel__item oppo
        .carousel__item lG
        .carousel__item tefal
        .carousel__item Hisense
        .carousel__item motorola
        .carousel__item hansa
        .carousel__item Hisense
      button.carousel__button.carousel__button--left &lt;
      button.carousel__button.carousel__button--right &gt;

  .header__bottom
    .header__bottom__card
