
  .socket
    .gel.center-gel
      .hex-brick.h1
      .hex-brick.h2
      .hex-brick.h3
    // Repeat for each gel group with appropriate class modifications
    .gel.c1.r1
      .hex-brick.h1
      .hex-brick.h2
      .hex-brick.h3
    .gel.c2.r1
      .hex-brick.h1
      .hex-brick.h2
      .hex-brick.h3
    // Continue pattern for all gel groups
    .gel.c3.r1
      .hex-brick.h1
      .hex-brick.h2
      .hex-brick.h3
    // ...
    // Add all remaining .gel groups following the same pattern
    // ...
    .gel.c37.r3
      .hex-brick.h1
      .hex-brick.h2
      .hex-brick.h3
