section.services
  .services_title
    h4 Телефоны и бытовая техника в рассрочку

  .services_describtion
    .service-card
      .icon-box
        i.fa-regular.fa-clipboard
      h3.title Покупка в рассрочку
      p.description Удобная онлайн рассрочка на товары бытовой техники в Техномарт

    .service-card
      .icon-box
        i.fa-solid.fa-truck
      h3.title Бесплатная доставка
      p.description Условия доставки товаров в Техномарт

    .service-card
      .icon-box
        i.ri-shield-check-line
      h3.title Гарантия на товары
      p.description Узнайте о гарантии и возврате товара в Техномарт

    .service-card
      .icon-box
        i.fa-solid.fa-coins
      h3.title Бонусная система
      p.description Бонусная система

    .service-card
      .icon-box
        i.ri-questionnaire-line
      h3.title Помощь
      p.description Частые вопросы
