doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../../../../scss/main.css")
        title Document
    body 
        div salom
        include ./pug/Product description/shortdescription.pug
        include ./pug/Product description/fulldescription.pug
        include ./pug/Product description/nedavniy.pug