.product-navbar {
    width: 450px;
    padding: 10px;

    >div {
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 10px;
    }

    .product-prise {
        border: 1px solid rgb(71, 68, 68);

        h1 {
            margin-bottom: 10px;
        }

        div {
            display: flex;
            justify-content: space-between;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45%;
                margin: 5px;
                height: 50px;
                padding: 15px 25px;
                border-radius: 10px;
                border: none;
            }

            .add-basket {
                background-color: $bg-4-color;
            }
        }

    }

    .rasrochka {
        border: 1px solid rgb(71, 68, 68);

        .rasrochka-btn-list {
            margin: 15px 0;
            display: flex;
            justify-content: space-between;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                margin: 5px;
                height: 40px;
                padding: 8px 10px;
                border-radius: 10px;
                border: 1px solid $bg-4-color;
                background-color: transparent;
            }

        }

        .get-rasrochka {
            margin: 15px 0;
            border: 1px solid $bg-4-color;
            border-radius: 10px;
            padding: 10px;

            >h1 {
                font-size: $medium-text;
                color: gray;
            }

            div {
                margin: 0px 0;
                display: flex;
                justify-content: space-between;

                img {
                    width: 70px;
                }

                h1 {
                    font-size: $big-text;
                }
            }

            button {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
                padding: 15px 25px;
                border-radius: 10px;
                border: none;
                background-color: #333333;
                color: white;
            }
        }
    }

    .garanty {
        border-radius: 20px;
        background-color: rgb(234, 234, 234);

        .garanty-demand {
            display: flex;
            align-items: center;

            i {
                margin-right: 10px;
                font-size: 20px;
            }
            p {
            font-size: $medium-text;
            }
        }
    }
}