@import '../all-blocks/variables';

.product-display {
  @include flex;
  @include justify-b;
  background-color: $bg-5-color;
  padding: $globe-padding-y $globe-padding-x;

  .image-gallery {
    @include flex-c;
    @include align-c;
    margin-right: $defolt--padding-20-px;

    .thumbnails {
      @include flex-r;
      @include justify-c;
      gap: $defolt--padding-10-px;

      .thumbnail {
        width: $defolt--width-100-px;
        height: $defolt--height-100-px;
        cursor: pointer;
        &:hover {
          border: 2px solid $hover-text-color;
        }
      }
    }

    .main-image-container {
      .main-image {
        width: $defolt--width-500-px;
        height: auto;
        border-radius: $defolt-border-radius;
      }
    }
  }

  .product-info {
    @include flex-c;

    h1.title {
      font-size: $xxl-text;
      margin-bottom: $defolt--padding-20-px;
    }

    .actions {
      // Styles for favorite and compare buttons
    }

    .brief {
      .spec {
        @include flex-r;
        @include justify-b;
        margin-bottom: $defolt--padding-5-px;

        &:after {
          content: attr(value);
          font-weight: bold;
        }
      }
    }

    a.all-specs {
      color: $hover-text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Responsive styling
@media (max-width: 768px) {
  .product-display {
    @include flex-c;

    .image-gallery {
      
    }
  }
}

@media (max-width: 480px) {
  .product-display {
    .image-gallery {
      .main-image-container {
        .main-image {
          width: $defolt--width-300-px;
        }
      }
    }
  }
}

