@import '../all-blocks/variables';
@import '../all-blocks/variables';

.product-container {
  @include flex;
  @include justify-b;
  background-color: $bg-5-color;
  padding: $globe-padding-y $globe-padding-x;

  .image-gallery {
    @include flex-c;
    @include align-c;
    margin-right: $defolt--padding-20-px;

    .thumbnails {
      @include flex-r;
      @include justify-c;
      gap: $defolt--padding-10-px;
      
      .thumbnail {
        width: $defolt--width-100-px;
        height: $defolt--height-100-px;
        cursor: pointer;
        &:hover {
          border: 2px solid $hover-text-color;
        }
      }
    }

    .main-image {
      img {
        width: $defolt--width-500-px;
        height: auto; // Maintain aspect ratio
        border-radius: $defolt-border-radius;
      }
    }
  }

  .product-details {
    @include flex-c;

    .title {
      font-size: $xxl-text;
      margin-bottom: $defolt--padding-20-px;
    }

    .ratings {
      // Style for ratings
      margin-bottom: $defolt--padding-10-px;
    }

    .product-actions {
      // Style for actions like 'favorite' and 'compare'
      margin-bottom: $defolt--padding-10-px;
    }

    .short-description {
      ul {
        list-style: none;
        font-size: $small-text;
        li {
          margin-bottom: $defolt--padding-5-px;
        }
      }
    }

    .view-all {
      color: $hover-text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .product-container {
    @include flex-c;
    .image-gallery {
      .thumbnails {
        @include justify-c;
      }
    }
  }
}
