.nav-category-button {
    width: $defolt--width-max-content;
    display: flex;
    align-items: center;
    padding: $defolt--padding-10-px;
    border-radius: $defolt--width-10-px;
    background-color: $bg-4-color;
    font-size: $very-big-text;
}