.btn {
    padding: 18px 30px;
    background-color: transparent;
    border: 1px solid #9da1e2;
    border-radius: 30px;
}

.btn2 {
    padding: 18px 30px;
    background-color: #3b42c4;
    border-radius: 30px;
}