body {
    padding: 0 80px;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0 30px;
    }
}



// sectionfirst 
.section_first {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #333;
    .section_first__top {
        width: 100%;
        padding: 30px 0px;
        display: flex;
        justify-content: center; 
    }
    .section_first__bottom {
        width: auto;
        padding: 30px 0px;
        display: flex;
    }
    img{
        padding: 10px;
        margin: 2px;
        border:2px solid black;
    }
}

