.footer {
  background-color: $bg-2-color;
  color: $defolt-text-color-2;
  padding-top: $defolt--height-40-px;
  padding-left: $defolt--width-20-px;
  padding-right: $defolt--width-20-px;

  .container {
    @include flex;
    @include flex-c;
    max-width: $defolt--width-100-persent;
    // padding: $defolt-card-p;
  }

  .footer-top {
    @include flex;
    @include flex-r;
    @include justify-b;
    width: $defolt--width-100-persent;
    margin-bottom: $defolt-card-mb;

    .contact-info {
      @include flex;
      @include flex-c;
      width: $defolt--width-30-persent;
      margin-bottom: $defolt-card-mb;
      .vapros {
        font-size: $big-text;
        margin-bottom: 20px;
      }
      // Contact info styles...
    }

    .social-links {
      margin: 10px 0;
      display: flex;

      a {
        margin: 20px 0;
        background-color: rgb(95, 93, 93);
        border-radius: 10px;
        margin-right: 10px;
        width: 50px;
        height: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column // Social links styles...
      }
    }

    .app_market_buttons img {
      // App market buttons styles...
    }
  }

  .footer-nav {
    @include flex;
    @include flex-r;
    @include justify-b;
    width: $defolt--width-70-persent;

    .column {
      @include flex;
      @include flex-c;

      h4 {
        margin-bottom: 10px;
      }

      a {
        color: white;
        font-size: $small-text;
        line-height: 2;
      }

      // Column styles...
    }
  }

  .footer-bottom {
    padding-bottom: 40px;
    font-size: $big-text;

    .store-address {
      p {
        border-bottom: 1px solid white;
        width: max-content;
        padding-bottom: 2px;
      }
    }
  }

  .footer-disclaimer {
    padding: 40px 0;
    border-top: 1px solid rgb(106, 102, 102);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $small-text;

    p {
      width: $defolt--width-50-persent;
      color: rgb(176, 178, 179);
    }

    span {
      width: 100px;
    }
  }
}

// Responsive media query
@media (max-width: 768px) {
  .footer {
    padding: $globe-padding-x $defolt--padding-20-px;

    .footer-top,
    .footer-nav {
      flex-direction: column;
      align-items: center;

      .contact-info,
      .column {
        width: 100%;
        margin-bottom: $defolt-card-mb;
      }
    }

    .footer-bottom {
      flex-direction: column;
      align-items: center;
    }

    .footer-disclaimer {
      text-align: center;
    }
  }
}