.footer {
  background-color: $bg-2-color;
  color: $defolt-text-color-2;
  padding: $globe-padding-x $defolt--width-40-px;

  .container {
    @include flex;
    @include flex-c;
    max-width: $defolt--width-100-persent;
    padding: $defolt-card-p;
  }

  .footer-top {
    @include flex;
    @include flex-r;
    @include justify-b;
    width: $defolt--width-100-persent;
    margin-bottom: $defolt-card-mb;

    .contact-info {
      @include flex;
      @include flex-c;
      width: $defolt--width-30-persent;
      margin-bottom: $defolt-card-mb;

      // Contact info styles...
    }

    .social-links a {
      // Social links styles...
    }

    .app_market_buttons img {
      // App market buttons styles...
    }
  }

  .footer-nav {
    @include flex;
    @include flex-r;
    @include justify-b;
    width: $defolt--width-70-persent;

    .column {
      @include flex;
      @include flex-c;

      // Column styles...
    }
  }

  .footer-bottom {
    // Footer bottom styles...
  }

  .footer-disclaimer {
    // Footer disclaimer styles...
  }
}

// Responsive media query
@media (max-width: 768px) {
  .footer {
    padding: $globe-padding-x $defolt--padding-20-px;

    .footer-top,
    .footer-nav {
      flex-direction: column;
      align-items: center;

      .contact-info,
      .column {
        width: 100%;
        margin-bottom: $defolt-card-mb;
      }
    }

    .footer-bottom {
      flex-direction: column;
      align-items: center;
    }

    .footer-disclaimer {
      text-align: center;
    }
  }
}
