nav {
    width: $defolt--width-100-persent;
    height: $defolt--height-70-px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .nav__top {
        display: flex;
        align-items: center;
        .nav_top_top {
            display: flex;
            width: $defolt--width-30-persent;
        }
    }
}