$card-section-head: 700px;

.new__product {
    width: $defolt--width-max-content;
    height: $card-section-head;
    padding: $defolt--height-30-px $defolt--width-50-px;
    @include align-c;
    flex-direction: column;
    .new__product-head {
        width: $defolt--width-100-persent;
        overflow: hidden;
        display: flex;
        .new__product__card {
            margin-left: $defolt--width-10-px;
            position: relative;
            width: $card-width;
            border: $card-border solid $card-border-color ;
            border-radius: $card-border-radius ;
            padding: $defolt--width-15-px;

            img {
                width: $defolt--width-100-persent;
            }

            .new__product__rate {
                position: absolute;
                right: 10px;

                div {
                    font-size: $big-text;
                    border: $defolt-border-1;
                    width: $defolt--width-40-px;
                    height: $defolt--width-40-px;
                    border-radius: $full-border-radius;
                    @include flex-center;
                    margin-bottom: $defolt--height-3-px;

                    .fa-heart {
                        font-weight: 500 !important;

                    }
                }
            }

            .new__product__discribtion {
                width: $defolt--width-100-persent;

                .new__product__title {
                    font-size: $medium-text;
                    color: $discribtion-text-color-2;
                }

                .new__product__stars {
                    margin: $defolt--width-10-px 0;
                    font-size: $medium-text;
                    color: $discribtion-text-color-2;
                }

                .new__product__rasrochka {
                    width: $defolt--width-max-content;
                    padding: $defolt--width-5-px;
                    font-size: $medium-text;
                    background: $bg-3-color;
                    color: $defolt-text-color;
                    border-radius: $defolt--width-10-px;
                    margin-bottom: $defolt--width-20-px ;

                }

                .new__product__price {
                    width: $defolt--width-100-persent;
                    @include align-c-justify-b;

                    div {
                        @include flex;

                        p {
                            margin-right: $defolt--width-5-px;
                        }
                    }

                    .new__product__shopping {
                        width: $defolt--width-max-content;
                        padding: $defolt--width-10-px;
                        border: $defolt--width-1-px solid $bg-4-color;
                        border-radius: $defolt--width-10-px;
                    }
                }
            }


        }
    }
}