// typographys

$very-small-text: 12px;
$small-text: 13px;
$medium-text: 14px;
$big-text: 16px;
$very-big-text: 20px;
$xl-text: 25px;
$xxl-text: 40px;

// font colors

$defolt-text-color: #000000;
$discribtion-text-color: #bdbdbd;
$hover-text-color: #fbc100;

// background colors

$bg-1-color: #f5f5f5;
$bg-2-color: #333333;
$bg-3-color: #f7f7f7;



// container and card styles

$defolt-card-p: 16px;
$defolt-card-mx: 10px;
$defolt-card-mb: 10px;


// width and height
$defolt--width-max-content: max-content;
$defolt--height-max-content: max-content;

// %
$defolt--width-10-persent:10%;
$defolt--width-20-persent:20%;
$defolt--width-30-persent:30%;
$defolt--width-40-persent:40%;
$defolt--width-50-persent:50%;
$defolt--width-60-persent:60%;
$defolt--width-70-persent:70%;
$defolt--width-80-persent:80%;
$defolt--width-90-persent:90%;
$defolt--width-100-persent:100%;

// px
$defolt--width-1-px:1px;
$defolt--width-2-px:2px;
$defolt--width-3-px:3px;
$defolt--width-4-px:4px;
$defolt--width-5-px:5px;
$defolt--width-6-px:6px;
$defolt--width-7-px:7px;
$defolt--width-8-px:8px;
$defolt--width-9-px:9px;
$defolt--width-10-px:10px;

$defolt--width-10-px:10px;
$defolt--width-20-px:20px;
$defolt--width-30-px:30px;
$defolt--width-40-px:40px;
$defolt--width-50-px:50px;
$defolt--width-60-px:60px;
$defolt--width-70-px:70px;
$defolt--width-80-px:80px;
$defolt--width-90-px:90px;
$defolt--width-100-px:100px;

// %
$defolt--height-10-persent:10%;
$defolt--height-20-persent:20%;
$defolt--height-30-persent:30%;
$defolt--height-40-persent:40%;
$defolt--height-50-persent:50%;
$defolt--height-60-persent:60%;
$defolt--height-70-persent:70%;
$defolt--height-80-persent:80%;
$defolt--height-90-persent:90%;
$defolt--height-100-persent:100%;
// px
$defolt--height-1-px:1px;
$defolt--height-2-px:2px;
$defolt--height-3-px:3px;
$defolt--height-4-px:4px;
$defolt--height-5-px:5px;
$defolt--height-6-px:6px;
$defolt--height-7-px:7px;
$defolt--height-8-px:8px;
$defolt--height-9-px:9px;
$defolt--height-10-px:10px;

$defolt--height-10-px:10px;
$defolt--height-20-px:20px;
$defolt--height-30-px:30px;
$defolt--height-40-px:40px;
$defolt--height-50-px:50px;
$defolt--height-60-px:60px;
$defolt--height-70-px:70px;
$defolt--height-80-px:80px;
$defolt--height-90-px:90px;
$defolt--height-100-px:100px;













