section.product-details
  h2.title Характеристики товара

  section.specs
    h3.section-heading Основные характеристики
    ul.spec-list
      li
        span.spec-name Количество SIM-карт
        span.spec-value 2
      li
        span.spec-name Цвет
        span.spec-value Белый
      // ... More specs ...

    h3.section-heading Питание
    ul.spec-list
      li
        span.spec-name Наличие беспроводной зарядки
        span.spec-value нет
      // ... More specs ...

    button.toggle-specs Развернуть характеристики

  section.description
    h3.section-heading Описание
    p
      | Модель Redmi 13C от Xiaomi представляет технологичный смартфон с большим 6,7-дюймовым экраном IPS с разрешением 1650x720. Он работает на операционной системе Android 13 и оборудован процессором Mediatek MT6769Z Helio G85, который обеспечивает хорошую производительность. Устройство обзавелось впечатляющим объемом ПЗУ 128ГБ и 4ГБ ОЗУ, что предлагает его в качестве отличного выбора для сохранения файлов и запуска необходимых приложений без задержек зарядки.
      // ... More description ...
