section.product-navbar 
    div.product-prise 
        h1 1 588 000 сум
        div 
            button.add-basket В корзину
            button.buy Купить в один клик
    div.rasrochka
        h1 В рассрочку
        div.rasrochka-btn-list
            button.btn-list 3 мес.
        div.get-rasrochka 
            h1 Рассрочка от партнера Solfy
            div 
                img(src="", alt="")
                h1 529 334 сум/мес
            button.btn-oformet Оформить
    div.garanty 
        div.garanty-demand
            i 0
            p Способы получения : Доставка, самовывоз
        div.garanty-demand
            i 0                
            p Способы получения : Доставка, самовывоз
        div.garanty-demand
            i 0
            p Способы получения : Доставка, самовывоз
        div.garanty-season
    div.rashrochka
        