.product-display
  .image-gallery
    .thumbnails
      each _, i in [1, 2, 3, 4]
        img.thumbnail(src='https://mini-io-api.texnomart.uz/catalog/product/3568/356819/195846/1420a510-923f-4a42-a582-299ae10cf0f5.webp', alt=`Thumbnail ${i}`)

    .main-image-container
      img.main-image(src="https://mini-io-api.texnomart.uz/catalog/product/3568/356819/195846/1420a510-923f-4a42-a582-299ae10cf0f5.webp", alt="Main Product Image")

  .product-info
    h1.title Коротко о товаре
    .ratings
      // Insert ratings here, e.g., stars

    .brief
      .spec 
        p Частота обновления экрана 
        span 90
      .spec 
        p Фронтальная камера
        span 8 МП
      .spec 
        p Основная Камера 
        span 50 МП
      .spec 
        p Количество камер 
        span 3
      .spec 
        p Разрешение экрана 
        span 720 x 1600

    a.all-specs(href="#") Все характеристики
