.product-display
  .image-gallery
    .thumbnails
      each _, i in [1, 2, 3, 4]
        img.thumbnail(src=`thumbnail-image-${i}.jpg`, alt=`Thumbnail ${i}`)

    .main-image-container
      img.main-image(src="main-product-image.jpg", alt="Main Product Image")

  .product-info
    h1.title Product Title
    .ratings
      // Insert ratings here, e.g., stars
    .actions
      button.favorite Add to Favorites
      button.compare Compare

    .brief
      .spec(freq="Frequency of screen update" value="90Hz")
      .spec(cam-front="Front camera" value="8 MP")
      .spec(cam-rear="Rear camera" value="50 MP")
      .spec(cam-count="Number of cameras" value="3")
      .spec(resolution="Screen resolution" value="720 x 1600")

    a.all-specs(href="#") View all specifications
