.product-container
  .image-gallery
    .thumbnails
      img.thumbnail(src="path-to-thumbnail1.jpg" alt="Product Thumbnail")
      img.thumbnail(src="path-to-thumbnail2.jpg" alt="Product Thumbnail")
      img.thumbnail(src="path-to-thumbnail3.jpg" alt="Product Thumbnail")
    .main-image
      img(src="path-to-main-image.jpg" alt="Main Product Image")

  .product-details
    h1.title Product Name
    .ratings
      // Insert rating stars here
    .product-actions
      button.favorite Add to Favorites
      button.compare Add to Compare
    .short-description
      ul
        li Frequency of Screen Update: 90
        li Front Camera: 8 MP
        li Main Camera: 50 MP
        li Number of Cameras: 3
        li Screen Resolution: 720 x 1600
      a.view-all(href="#") View All Specifications
